<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mehdi Beddiaf Blog - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a class="fancy-link" href="/">Mehdi Beddiaf λ</a>
      </div>
      <nav>
        <a class="fancy-link" href="/">Home</a>
        <a class="fancy-link" href="/about.html">About</a>
        <a class="fancy-link" href="/contact.html">Contact</a>
        <a class="fancy-link" href="/archive.html">Archive</a>
      </nav>
    </header>
    <main role="main">
      <h1>$title$</h1>
      $body$
    </main>
  </body>
</html>
